<div class="b-gg vh-100 overflow-x-hidden">
  <div
    [ngClass]="{ 'animate__animated animate__zoomInDown': animate }"
    class="container-md mt-5 pt-5"
  >
    <div class="w-100 box bg-maiin rounded-5">
      <div
        class="p-3 row align-items-center justify-content-center mx-auto my-5"
      >
        <!-- <div class="col-12 d-flex align-items-center justify-content-center"><h1>Chatting App</h1></div> -->
        <div class="col-12 col-md-6">
          <!-- عنصر iframe واحد -->
          <iframe
            id="lottiePlayer"
            [src]="currentSrc"
            style="width: 600px; height: 380px; transition: all 1s ease"
            [ngStyle]="{
              opacity: isFading ? '0' : '1',
              transform: isRotating ? 'rotateY(180deg)' : 'rotateY(0deg)'
            }"
            allow="autoplay"
          >
          </iframe>
        </div>
        <div class="col-12 col-md-6 ">
            <app-login-form></app-login-form>
        </div>
        
        
      </div>
    </div>
  </div>
</div>
